<!DOCTYPE html>
<html>
<head>
  <title>Подтверждение смены пароля - Timeceros</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-color: #f1f1f1;
    }
    .container {
      padding: 20px;
      background-color: #ffffff;
      max-width: 600px;
      margin: 0 auto;
      border-radius: 10px;
      box-shadow: 0px 0px 20px #888888;
    }
    h1 {
      font-size: 24px;
      font-weight: bold;
      margin-top: 0;
    }
    p {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 20px;
    }
    .button {
      display: inline-block;
      background-color: #4CAF50;
      color: #ffffff;
      padding: 12px 20px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      border-radius: 5px;
      margin-top: 20px;
    }
  </style>
</head>
<body>
<div class="container">
  <h1>Подтверждение смены пароля - Timeceros</h1>
  <p>Здравствуйте! Мы получили запрос на смену пароля вашей учетной записи в системе Timeceros. Для подтверждения изменений, пожалуйста, нажмите на кнопку ниже:</p>
  <a href="{{url}}" class="button">Подтвердить смену пароля</a>
  <p>Если вы не запрашивали смену пароля в системе Timeceros, пожалуйста, проигнорируйте это письмо.</p>
  <p>Если у вас есть вопросы или замечания, свяжитесь с нами по адресу <a href="mailto:support@timeceros.com">support@timeceros.com</a>.</p>
</div>
</body>
</html>